{
  "period": "1m",
  "sync": [
    {
      "name": "project",
      "from": {
        "name": "overleaf",
        "url": "https://git.overleaf.com/abcdef",
        "auth": "overleaf"
      },
      "to": [
        {
          "name": "github",
          "url": "https://github.com/user/project",
          "auth": "github"
        }
      ]
    }
  ],
  "auth": {
    "github": {
      "token": "rhrhrhwqiwr-2lsasf"
    },
    "overleaf": {
      "token": "email@example.com",
      "password": "password"
    }
  }
}
